<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="BusCode" value="88888888" />
    <add key="WxPayUrl" value="http://pay.xj-wz.com" />
    <add key="AliPayUrl" value="http://pay.xj-wz.com" />
    <add key="MpUrl" value="http://movie.xj-wz.com/" />
    

    <!--网易云信短信接口参数-->
    <add key="ShortMesUrl" value="https://api.netease.im/sms/" />
    <add key="AppKey" value="1123bb522255f359c99faff633810276" />
    <add key="AppSecret" value="9cf37a25456f" />
    <add key="temp1" value="3030139" />
    <add key="temp2" value="3030139" />
    <!--存酒-->
    <add key="temp3" value="3147140" />
    <!--取酒-->
    <add key="temp4" value="3134177" />
    <!--存酒过期-->
    <add key="temp5" value="3883621" />
    <!--预订提醒-->
    <add key="temp6" value="9454034" />
    <!--酒吧预订提醒-->
    <add key="temp7" value="9444082" />

    <!--阿里云短信接口参数-->
    <add key="Ali_ShortMesUrl" value="dysmsapi.aliyuncs.com" />
    <add key="Ali_AppKey" value="LTAIRQGtZiXzFU4Z" />
    <add key="Ali_AppSecret" value="MOSi0rGbyxaucFzl6esh4JuOnsJw7Y" />
    <!--发送存酒验证码-->
    <add key="Ali_temp1" value="140845066" />
    <!--业务提醒-->
    <add key="Ali_temp2" value="149415575" />
    <!--存酒-->
    <add key="Ali_temp3" value="140720712" />
    <!--取酒-->
    <add key="Ali_temp4" value="149415570" />
    <!--存酒过期-->
    <add key="Ali_temp5" value="14942047633" />
    <!--酒吧预订提醒-->
    <add key="Ali_temp6" value="149415566" />
    <!--推广短信-->
    <add key="Ali_temp7" value="140736795" />
    <!--赠送优惠券-->
    <add key="Ali_temp8" value="149420488" />
    <!--身份验证验证码-->
    <add key="Ali_temp9" value="140705182" />
    <!--登陆验证码-->
    <add key="Ali_temp10" value="140705181" />
    <!--登录异常验证码-->
    <add key="Ali_temp11" value="140705180" />
    <!--用户注册验证码-->
    <add key="Ali_temp12" value="140705179" />
    <!--修改密码验证码-->
    <add key="Ali_temp13" value="140705178" />
    <!--信息变更验证码-->
    <add key="Ali_temp14" value="140705177" />
    <!--餐厅预定短信-->
    <add key="Ali_temp15" value="150574674" />
    <!--手机赠券短信-->
    <add key="Ali_temp16" value="159773605" />


    <!--预订提醒中的热线电话-->
    <add key="bookingInfoTel" value="0991-6789988" />

    <!--免验证登陆连锁端地址-->
    <add key="ServiceUrl" value="http://memcard.link-public.com:8105" />
    <!--连锁端同步-->
    <add key="rolesid" value="" />
    <!--同步指定权限的用户-->

    <!--上传数据临时保存路径-->
    <add key="savetempath" value="e:\" />
    <!--管理员员工编号-->
    <add key="AdminEmpCardCode" value="O117" />

    <!--员工卡卡类型编号-->
    <add key="EmpCardTypeCode" value="8" />
    <add key="RechargeStocodeByWX" value="12" />
    <add key="notstart" value="0" />
    <!--线上扫码点餐 门店支付类型 0：先支付 1：后支付-->
    <add key="payType" value="1" />
    <!--线上扫码点餐 门店类型-->
    <add key="stoType" value="娱乐/ktv" />
    <!--线上扫码点餐 微信页面地址-->
    <add key="wxUrl" value="http://wx.xj-wz.com/" />


    <!--综合版门店后台-->
    <!--总部门店编号-->
    <add key="StoCode" value="12" />
    <!--门店后台地址路径,用于图片展示、文件下载-->
    <add key="StoBackRoot" value="http://xbb.xj-wz.com" />
    <add key="WXStoBackRoot" value="http://back.xj-wz.com" /><!--小程序 门店logo -->
    <add key="StoDisImgUrl" value="http://xbb.xj-wz.com" /><!--门店菜品图片-->
    <add key="isAppOrder" value="0" /><!--1为开启小程序点单  0为屏蔽小程序点单-->
      
  </appSettings>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source=59.110.215.44;database=NewCatering0504;User ID=sa;Password=xjwz2016;" providerName="System.Data.SqlClient" />
    <add name="DBConnectionStringR" connectionString="Data Source=59.110.215.44;database=NewCatering0504;User ID=sa;Password=xjwz2016;MultiSubnetFailover=True;" providerName="System.Data.SqlClient" />
    <add name="CateringDBConnectionString" connectionString="Data Source=59.110.215.44;database=catering;User ID=sa;Password=xjwz2016;" providerName="System.Data.SqlClient" />
    <add name="CateringDBConnectionStringR" connectionString="Data Source=59.110.215.44;database=catering;User ID=sa;Password=xjwz2016;MultiSubnetFailover=True;" providerName="System.Data.SqlClient" />
    <add name="DBConnectionStringMovie" connectionString="Data Source=59.110.215.44;database=movie;User ID=sa;Password=xjwz2016" providerName="System.Data.SqlClient" />

    <!--<add name="DBConnectionString" connectionString="Data Source=192.168.5.10\sql2014;database=NewCatering;User ID=sa;Password=xjwz2016;" providerName="System.Data.SqlClient"/>
    <add name="DBConnectionStringR" connectionString="Data Source=192.168.5.10\sql2014;database=NewCatering;User ID=sa;Password=xjwz2016;MultiSubnetFailover=True;" providerName="System.Data.SqlClient"/>
    <add name="CateringDBConnectionString" connectionString="Data Source=192.168.5.10\sql2014;database=catering;User ID=sa;Password=xjwz2016;" providerName="System.Data.SqlClient"/>
    <add name="CateringDBConnectionStringR" connectionString="Data Source=192.168.5.10\sql2014;database=catering;User ID=sa;Password=xjwz2016;MultiSubnetFailover=True;" providerName="System.Data.SqlClient"/>
    <add name="DBConnectionStringMovie" connectionString="Data Source=192.168.5.10\sql2014;database=movie;User ID=sa;Password=xjwz2016" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.0" debug="true" />
    <httpRuntime requestValidationMode="2.0" executionTimeout="50000" maxRequestLength="999999999" maxQueryStringLength="2097151" />
    <customErrors mode="Off" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1024000000" />
      </webServices>
    </scripting>
  </system.web.extensions>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="origin,x-requested-with,content-type" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>
    <directoryBrowse enabled="true" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647" maxQueryString="2147483647" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>