<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="appid" value="wx4911b1480d511fe5"/>
    <add key="secret" value="ab38f2eed79fd1b58a02826a146a54c2"/>
    <add key="clientId" value="joszIfvwOGO8YGI6mdzMT60P"/>
    <add key="clientSecret" value="FR9LW64Zf1KC7fLRGtFooFYcV7OnFdap"/>
    <add key="CacheExpiresMin" value="600"/>
    <add key="PageSize" value="15"/>
    <add key="HomePageUrl" value="/login.aspx"/>
    <add key="NoAuthorizationPageUrl" value="/index.html"/>
    <add key="UploadPath" value="/uploads/"/>
    <!--阿里云短信接口参数-->
    <add key="Ali_ShortMesUrl" value="dysmsapi.aliyuncs.com"/>
    <add key="Ali_AppKey" value="LTAIRQGtZiXzFU4Z"/>
    <add key="Ali_AppSecret" value="MOSi0rGbyxaucFzl6esh4JuOnsJw7Y"/>
    <add key="Ali_temp1" value="140845066"/>

    <!--订单审核提醒-->
    <add key="tem1" value="hXNB69Q0ijIYtJZ5-Unr7EZuekJxUpSjox_g_NUQkxo"/>
    <!--订单确认通知-->
    <add key="tem2" value="XXHF15UOmoKJ30lCpw1Odg7qf6507QzYZ4rfud8bosc"/>
    <!--订单取消通知-->
    <add key="tem3" value="08raSkUUsM1vnRfUmNxR7D6bUf6IoE5m4jUIY6wQClU"/>
    <!--审核结果通知-->
    <add key="tem4" value="eTXauba500ekUEGTjpgohi1SB42lDQRoJ7VmuIsc8P0"/>
  </appSettings>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source=111.231.189.122;database=catering;User ID=newcatering;Password=newcatering" providerName="System.Data.SqlClient"/>
    <add name="DBConnectionStringR" connectionString="Data Source=111.231.189.122;database=catering;User ID=newcatering;Password=newcatering;" providerName="System.Data.SqlClient"/>
    <add name="DISHConnectionString" connectionString="Data Source=111.231.189.122;database=NewCatering;User ID=newcatering;Password=newcatering" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424"/>
    <!--<httpHandlers>
      <add verb="*" path="*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2"/>
    </httpHandlers>-->
    <customErrors mode="Off" defaultRedirect="error.html">
      <error statusCode="404" redirect="error.html"/>
    </customErrors>
    <httpRuntime requestValidationMode="2.0" executionTimeout="50000" maxRequestLength="20480" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" maxQueryStringLength="102400"/>
    <!--authentication mode="Windows"/-->
    <authentication mode="Forms">
      <forms cookieless="UseCookies" name="xCookie" loginUrl="login.aspx" timeout="20" path="/" protection="All"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <location path="checkcode">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ajax">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="js">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="img">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="xml">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1B03E6ACF1164F73" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
